<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxi6oYBV8hJWZeCNRSb4iUDTXwZ4A6r5__C5_604JuBBaec1G7qaEJUuMpig&s"
    alt=""
    width="400px"
    height="200px"
    srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1>
      <a href=""> A NOVA VERSÃO DO ANGULAR</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      BLA BLA BLsdj fksdkjfsdkjfbs kdjbf fdfd fddfd  fd fd dfsdjfbsdjf fdssdfA BLA fd fdfdfd fbdyfbdhfbdh fbdh fbhdfb hdb fhdb fhdb fhd bdhfbdhfbdhbfdhfbhdbfdh bhfdb  fhd bfhd
    </p>

  </div>
</div>
